{% extends "layout.html" %}

{% block title %}
    Classes
{% endblock %}

{% block main %}
    <script>
        function myFunction() {
            setTimeout(hideAlert, 5000);
        }
        function hideAlert() {
            const alert = bootstrap.Alert.getOrCreateInstance('#alert-message')
            alert.close()
        }
    </script>
    <style>
        h1 {
            padding-bottom: 48px;
            margin: 0;
        }
        form {
            display: inline-block;
        }
        p {
            display: table-row;
        }
        label {
            display: table-cell;
        }
        button {
            width: 90px;
            margin: 4px
        }
        input {
            width: 250px;
            display: table-cell;
            padding: 4px;
            margin: 4px;
        }
    </style>
    {% if get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" id="alert-message" role="alert" style="width: 35%; margin-right: auto; margin-left: auto;">
            {{ get_flashed_messages()[0] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <body onload="myFunction()">
        {% if schedule %}
            <h1>My Classes</h1>
            <!-- If schedule is not empty-->
            <table class="table table-striped table-bordered align-middle" style="width: 90%; margin-left: auto; margin-right: auto;">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Class</th>
                        <th>Teacher</th>
                        <th>Location</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                {% for class in schedule %}
                    <tr>
                        <td>{{ class["period"] }}</td>
                        <td>{{ class["class"] }}</td>
                        <td>{{ class["teacher"] }}</td>
                        <td>{{ class["location"] }}</td>
                        <td><a href="mailto:{{ class['email'] }}" style="color: #00645A">{{ class["email"] }}</a></td>
                        <!-- Edit button-->
                        <td style="width: 120px">
                            <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-edit-{{ class['id'] }}" type="button">Edit</button>
                            <div class="modal fade" id="modal-edit-{{ class['id'] }}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title w-100">Edit Class</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit-class" id="edit-{{ class['id'] }}" name="edit-{{ class['id'] }}" method="post" autocomplete="off">
                                            <input name="id" type="hidden" value="{{ class['id'] }}">
                                            <p>
                                                <label>Class:</label>
                                                <input name="class" placeholder="ex. CS50" required value="{{ class['class'] }}">
                                            </p>
                                            <p>
                                                <label>Period:</label>
                                                <input name="period" placeholder="ex. 50" required value="{{ class['period'] }}">
                                            </p>
                                            <p>
                                                <label>Teacher:</label>
                                                <input name="teacher" placeholder="ex. David Malan" required value="{{ class['teacher'] }}">
                                            </p>
                                            <p>
                                                <label>Location:</label>
                                                <input name="location" placeholder="ex. Sanders Theatre" required value="{{ class['location'] }}">
                                            </p>
                                            <p>
                                                <label> Email:</label>
                                                <input name="email" type="email" placeholder="ex. malan@harvard.edu" value="{{ class['email'] }}">
                                            </p>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button form="edit-{{ class['id'] }}" type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!--Delete button-->
                            <form action="/delete-class" id="delete-{{ class['id'] }}" name="delete-{{ class['id'] }}" method="post">
                                <input name="id" type="hidden" value="{{ class['id'] }}">
                                <input name="class" type="hidden" value="{{ class['class'] }}">
                            </form>
                            <button form="delete-{{ class['id'] }}" class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>Click "Add a class" to get started</h2>
        {% endif %}

        <!-- Add class -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add" style="background-color: #00645A; margin: 48px 48px 24px 48px; width: 120px">Add a class</button>
        <div class="modal fade" id="add" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100">Add a class</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/add-class" id="add-class" name="add-class" method="post" autocomplete="off">
                    <p>
                        <label>Class:</label>
                        <input name="class" placeholder="ex. CS50" required>
                    </p>
                    <p>
                        <label>Period:</label>
                        <input name="period" placeholder="ex. 50" required>
                    </p>
                    <p>
                        <label>Teacher:</label>
                        <input name="teacher" placeholder="ex. David Malan" required>
                    </p>
                    <p>
                        <label>Location:</label>
                        <input name="location" placeholder="ex. Sanders Theatre" required>
                    </p>
                    <p>
                        <label> Email:</label>
                        <input name="email" placeholder="ex. malan@harvard.edu" type="email">
                    </p>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button form="add-class" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
            </div>
        </div>
        {% if schedule %}
            <!-- Delete all -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-all" style="margin: 48px 48px 24px 48px; width: 120px">Delete all</button>
            <div class="modal fade" id="delete-all" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100">Delete All Classes</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <strong style="text-align: center">Are you sure you want to delete all your classes?</strong><br>
                            <small>Note: This action cannot be undone.</small>
                            <form action="/delete-all-classes" id="delete-all-classes" method="post"></form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button form="delete-all-classes" type="submit" class="btn btn-danger">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </body>

{% endblock %}